<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6544.0" authCookieName=".SFAUTH-Sitefinity-Contact-Form" rolesCookieName=".SFROLES-Sitefinity-Contact-Form" validationKey="C1400FF90A0516FB26E8FACC8A939F594DD1805CF7B42E34D237F1FC5CBF88D3781378FA2504C2EFC6E58D41F5E80DE6DB359C5E3FDA04A7367DE00985ABC1DF" decryptionKey="C7B8E22B852829C89D051B827DCCFACDB7A3A6EBED0335DF2F1311BACEED85E9" loggingCookieName=".SFLOG-Sitefinity-Contact-Form">
	<securityTokenIssuers>
		<add key="C5C5BCBEEF1E56C42EC2AC5A883C416DB2BA3FAF1C77A30242745D44964127B0" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="C5C5BCBEEF1E56C42EC2AC5A883C416DB2BA3FAF1C77A30242745D44964127B0" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="a5e5c86e-c632-4e93-9a35-f59f9ba92a42" name="Everyone" config:flags="1" />
		<role id="e4a6e070-697e-442f-b014-dfa37a8dd5f1" name="Anonymous" config:flags="1" />
		<role id="eecd369c-7a4d-49c2-a33e-9fadf3f6c423" name="Authenticated" config:flags="1" />
		<role id="d3a0e40d-d753-4f26-b7c4-7852bdddf740" name="Owner" config:flags="1" />
		<role id="976cc250-c7aa-4063-8503-0e2e12a685ea" name="Administrators" config:flags="1" />
		<role id="a3b31ed0-ee30-4c79-96cf-6409932637d3" name="BackendUsers" config:flags="1" />
		<role id="54c17bcd-cd9b-40f6-b089-cda21fa35b05" name="Authors" config:flags="1" />
		<role id="d643f734-0a56-4519-8122-8550685417ea" name="Editors" config:flags="1" />
		<role id="287c9f0a-1eb4-4cdb-8a4c-16f2b42b91c4" name="Designers" config:flags="1" />
		<role id="3c12edb8-f3be-405b-8627-d5ed633aaa20" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>